

/*main*/
.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 25px;
    background-color: white;
    display: flex;
    flex-flow: column;
}
main.home{
    height: 62.6vh;
}
#animation{
   height: 70%; 
   margin-top: auto;    
}
#animation img{
	-webkit-transition:-webkit-transform .9s; 
  -moz-transition:-moz-transform .9s;       
  -o-transition:-o-transform .9s;           
  -ms-transition:-ms-transform .9s;        
  transition:transform .9s;
}

#animation img:hover{
	-webkit-transform:rotateZ(360deg), rotateY(360deg); 
	-moz-transform:rotateZ(360deg), rotateY(360deg); 
	-o-transform:rotateZ(360deg), rotateY(360deg);  
	-ms-transform:rotateZ(360deg), rotateY(360deg);  
	transform:  rotateZ(114deg);

}
#animation a img {
    margin: auto;
    margin-top: 30px;
    width: 20%;
}

main.home{
	display: flex;
	text-align: center;
	margin: 110px ;
}
a.home{
    text-decoration: none;
}
h2.home{
	color: #008e97;
}
h2.home:hover{
	color: #fa9702;
}
