#profil section{
    width: 700px;
    margin-left: 25%;
}

#profil img{
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

#profil .info{
    display: flex;
    background-color: #008d97a6;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    font-size: 1.2em;
    justify-content: space-around;
}

#profil .info p{
    padding: 0px;
}

#profil.supp{
    margin-bottom: 25%;
}

@media screen and (max-width:710px){
    #profil section{
        width: 400px;
    }

    #profil .info{
        font-size: 0.8em;
    }
}

@media screen and (max-width:400px){
    #profil section{
        width: 250px;
    }

    #profil .info{
        display: block;
    }
}